html, body {
  margin: 20px;
}
.nav-slid-hidden {
  background: #191919;
  left: 0px;
  position: absolute;
  top: 0px;
}
.week {
  fill: lightblue;
}
.quarter {
  fill: lightgreen;
}
.year {
  fill: lightgrey;
}

#img {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -100px; /* Half the height */
   margin-left: -100px; /* Half the width */
}
.expand {
  transition: width 0.5s ease;
  width: 200px !important;
}
.expand:focus {
  transition: width 0.5s ease;
  width: 424px !important;
}
.de-expand {
  transition: width 0.5s ease;
  width: 424px !important;
}
.hideded {
  transition: opacity 0.5s ease;
  opacity: 0 !important;
}
.showed {
  transition: opacity 0.5s ease;
  opacity: 1 !important;
}
