html, body {
  margin: 20px;
}
.nav-slid-hidden {
  background: #191919;
  left: 0px;
  position: absolute;
  top: 0px;
}
.week {
  fill: lightblue;
}
.quarter {
  fill: lightgreen;
}
.year {
  fill: lightgrey;
}

#img {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -100px; /* Half the height */
   margin-left: -100px; /* Half the width */
}
