html, body {
  margin: 20px;
}
.nav-slid-hidden {
  background: #191919;
  left: 0px;
  position: absolute;
  top: 0px;
}
.week {
  fill: #3fb618;
}
.quarter {
  fill: #fe6600;
}
.year {
  fill: #8d46b0;
}

#img {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -100px; /* Half the height */
   margin-left: -100px; /* Half the width */
}
.expand {
  transition: width 0.5s ease;
  width: 50% !important;
}
.expand:focus {
  transition: width 0.5s ease;
  width: 100% !important;
}
.de-expand {
  transition: width 0.5s ease;
  width: 100% !important;
}
.hideded {
  transition: opacity 0.5s ease;
  opacity: 0 !important;
}
.showed {
  transition: opacity 0.5s ease;
  opacity: 1 !important;
}
.previous {
  cursor: pointer;
}
.next {
  cursor: pointer;
}
.panel-grow-start {
  width: 0px;
  height: 0px;
  opacity: 0;
}
.notifyjs-metro-base .title {
  font-size: 15px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  color: #ffffff;
  line-height: 1.42857143;
}
.notifyjs-metro-base .text {
  font-weight: 100 !important;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  color: #ffffff;
  line-height: 1.42857143;
}
.notifyjs-metro-base {
  background-color: #ff0039;
  border-color: #f0005e;
  color: #ffffff;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
}
