<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">TitanFinance</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      {{#link-to 'dashboard' tagName="li" href=false}}
        {{#link-to 'dashboard' bubbles=false}}
          Dashboard
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'profile' tagName="li" href=false}}
        {{#link-to 'profile' bubbles=false}}
          Profile
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'settings' tagName="li" href=false}}
        {{#link-to 'settings' bubbles=false}}
          Settings
        {{/link-to}}
      {{/link-to}}
      {{#link-to 'help' tagName="li" href=false}}
        {{#link-to 'help' bubbles=false}}
          Help
        {{/link-to}}
      {{/link-to}}
    </ul>
    <form class="navbar-form navbar-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</div>
</nav>

{{outlet}}
